.home-container{
    position: relative;
   min-height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}
.home-container-part1{
    height: 100vh;
    width: 50vw;
}

.home-container-part2{
    position: relative;;
    height: 100vh;
    width : 50vw;
}

.home-container-part1 h1{
    font-size: 3em;
    margin-left : 10%;
    margin-top: 10%;
    color: white;
}
.home-container-part1 h2{
    position: relative;
    top: -3%;
    font-size: 3em;
    margin-left : 10%;
}
.home-container-part1 p{
    font-size: .8em;
    margin-left: 10%;
}
.home-button{
    margin-top: 4%;
    height : 7%;
    margin-left: 10%;
    width: 30%;
    background-color: rgb(249, 249, 2);
    border-radius: 20px;
    font-weight: 900s;
    border :none;
    color: black;
    cursor: pointer;

}
.home-container-part1-image1{
    height: 45vh;
    width: 30vw;
}
.home-container-part1-image1 img{
    margin-left: 20%;
    margin-top: 10%;
    height: 100%;
    border-radius: 20px;
    width: 100%;
}
.home-container-part2-image2{
    position: absolute;
    top: 15%;
    left: 20%;
    height: 45vh;
    width: 30vw;
}
.home-container-part2-image2 img{
    height: 100%;
    border-radius: 20px;
    width: 100%;
}