@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&family=Megrim&family=Poppins:ital,wght@0,100;0,300;0,600;1,400&display=swap');
*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
  font-family: 'poppins','sans-serif';
  color: white;
  text-decoration: none;
}
html,body{
  height : 100%;
  width : 100%;
}
::-webkit-scrollbar{
  display: none;
}
